<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/se/dt-1.10.18/datatables.min.css"/>
 
<script type="text/javascript" src="https://cdn.datatables.net/v/se/dt-1.10.18/datatables.min.js"></script>

<style>
#pos-order-table tr
{
  !transition: background  1.5s;
  -webkit-transition: background 2s;
  -moz-transition: background 2s;
  -ms-transition: background 2s;
  -o-transition: background 2s;
  transition: background 2s;
}
#pos-order-table tr.updated
{
  background-color: #88ff88;
}
</style>
<div class='col-sm-12 row'>
  <h4 class='col-sm-6'>Order No:
    <%= @order.number %>
  </h4>

  <h4 class='col-sm-6'>Order For:
    <%= link_to @order.email, edit_admin_user_path(@order.user) %></h4>

  <div class='col-sm-6'>
    <a href="/admin/pos/new" onclick="javascript:if (newwindow) newwindow.close()" class="button">
      Nueva Orden
    </a>
  </div>
  <div class='col-sm-6'>
    <a href="javascript:void(0);" id="associate_user_toggle" class="button">
      Cambiar Usuario
    </a>
  </div>
</div>
<%= form_tag update_stock_location_admin_pos_path(@order.number), class: 'modify_stock_location_form' do %>
  <%= select_tag :stock_location_id, 
      options_from_collection_for_select(user_stock_locations(spree_current_user), :id, :name, @order.pos_shipment.stock_location.id),
      class: 'ui dropdown'
  %>
  
  <%= submit_tag 'Actualizar', data: { confirm: "¿estás seguro?" }, class: 'btn btn-primary btn-success' %>
<% end %>

  <% if @order.payment_state == 'paid' || try_spree_current_user.has_spree_role?('admin') %>
    <span id="spanlinkrecibo">
      <%= link_to("/admin/invoice/#{@order.number}/receipt", target:  "_blank", id: "linkrecibo") do %>
      <h4>
        <span class='glyphicon glyphicon-print'></span>
        Imprimir recibo
      </h4>
      <% end %>
    </span>
  <% end %>


  <%= form_tag associate_user_admin_pos_path(number: @order.number), id: "associate_user" do %>
  <div id="pos-tabs">
    <ul>
      <li>
        <a href="#associate_email">Buscar Usuario por email</a>
      </li>
      <li>
        <a href="#associate_new_user">Agregar nuevo usuario</a>
      </li>
    </ul>
    <div id="associate_email" class="commonfieldset">
      <div class="row">
        <div class="four columns alpha">
          <div class="field">
            <label>Email</label>
            <%= text_field_tag :email, '', size: 25 %>
            <br/>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="or_separator"><span>OR</span></div> -->
    <div id="associate_new_user" class="commonfieldset">
      <div class="row">
        <div class="four columns alpha">
          <div class="field">
            <label>Nuevo Email</label>
            <%= text_field_tag :new_email, nil, size: 25 %>
            <br/>
          </div>
        </div>
      </div>
    </div>
    <div class="four columns alpha">
      <div class="field">
        <%= button "Asociar Usuario" %>
      </div>
    </div>
  </div>
<% end %>

<table id='variants-datatable' class='ui celled compact blue unstackable table' data-source="<%= find_admin_pos_path(@order.number, format: :json) %>">
  <thead>
    <tr>
      <th>SKU</th>
      <th>Image</th>
      <th>Name</th>
      <th>Stock</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<table id='pos-order-table' class="ui celled compact yellow unstackable table">
  <thead>
    <tr>  
      <th><%= Spree.t('item_description') %></th>
      <th><%= Spree.t('quantity') %></th>
      <th>Disp.</th>
      <th></th>
      <th class="price"><%= Spree.t('price') %></th>
      <th class="discount_price"><%= "#{Spree.t('discount')}(%)" %></th>
      <th><%= Spree.t('remove') %><br><%= Spree.t('add') %></th>
      <th>Cambiar descuento</th>
    </tr>
  </thead>
  <tbody>
    <%= render(@order.line_items) %>
  </tbody>
</table>


<% if @order.line_items.exists? %>
  <div class="alert alert-info" id="order-total" data-hook="order_details_total" style="text-align: right;">
    <%= Spree.t(:order_total) %>:
    <strong class="order-total">
      <%= @order.display_total %>
    </strong>
  </div>
<% end %>

<%= render "spree/admin/orders/adjustments", adjustments: @order.line_item_adjustments, order: @order, title: Spree.t(:line_item_adjustments) %>
<%= render "spree/admin/orders/adjustments", adjustments: @order.adjustments, order: @order, title: Spree.t(:order_adjustments) %>
<div style="overflow: hidden;">
  <%= button_link_to(Spree.t(:new_adjustment), new_admin_order_adjustment_url(@order), class: "btn-success", style: "float: right; margin-bottom: 5px;", icon: 'add') if can? :create, Spree::Adjustment %>
</div>

<%= render "order_summary" %>


<div class="belowtable row">
<%= button_to "Remover todos los artículos", admin_pos_clean_order_path(number: @order.number) , data: { confirm: "¿estás seguro?" }, class: 'btn btn-default' %>
</div>

<div class="row">

<%= form_tag update_payment_admin_pos_path(@order.number), id: "update_payment" do %>
  <div class="four rows alpha">
    <h4>Metodos de Pago</h4>
    <div class="field">
      <p>
      <% Spree::PaymentMethod.where("type='Spree::PaymentMethod::PointOfSale'").each do |method| %>
        <label>
          <%= radio_button_tag :payment_method_id, method.id, false, 'data-name': method.name %>
          <%= Spree.t(method.name, scope: :payment_methods, default: method.name) %>
        </label>
      <% end %>
      </p>
    </div>

    <div id="card_name" class="rows">
      <%= select_tag(:card_name, 
            options_for_select(::CARD_TYPE, 
              "#{@order.payments.first.try(:card_name)}"), 
          include_blank: true,
          id: 'card_name_options',
          class: 'ui dropdown') %>
      <%= button_tag "Confirmar", class: "fr btn btn-primary btn-success", data: { confirm:"¿estás seguro?", disable_with: "..." } %>
    </div>
  </div>
<% end %>
</div>
</div>

<script>

  function readyFn( jQuery ) {
    var completada;
    completada = '<%= @order.payment_state %>';
    if (completada == 'paid') {
      var answer=confirm('¿Imprimir recibo?');
      if(answer) {
        $('#linkrecibo')[0].click();
      }
    }
  }
  $(window).on( "load", readyFn );

  jQuery(document).ready(function() {
    var oTable = $('#variants-datatable').dataTable({
      "lengthMenu": [[3, 5, 10], [3, 5, 10]],
      "processing": true,
      "serverSide": true,
      "ajax": $('#variants-datatable').data('source'),
      "pagingType": "full_numbers",
      "columns": [
        {"data": "sku"},
        {"data": "image"},
        {"data": "name"},
        {"data": "stock"},
        {"data": "actions"},
      ],
    });
    $("div.dataTables_filter input").unbind();
    $("div.dataTables_filter input").keyup( function (e) {
      e.preventDefault();
      if (e.keyCode == 13) {
        oTable.fnFilter( this.value );
      }
    } );
  });
</script>
