<% item = line_item %>
<tr id="<%="line_item_#{item.id}"%>">
  <td class="center aligned">
    <%= mini_image(item.variant) %>
    
    <br/><%= "#{item.variant.name} #{item.variant.options_text}"%><br/>
    <%= link_to "(SKU:#{item.variant.sku})", product_url(item.variant.product), target:"_blank" %>
  </td>
  <td class="center aligned">
    <% location_on_hand = item.variant.stock_items.find_by(stock_location_id: @order.pos_shipment.stock_location.id).count_on_hand %>
    <% total_in_location = location_on_hand + item.quantity %>
    <% total_any_where_else = item.variant.total_on_hand + item.quantity - total_in_location %>
    <%= form_with url: update_line_item_quantity_admin_pos_path(@order.number), remote: false do |form| %>
      <%= form.hidden_field :line_item_id, value: item.id %>
      <%= form.select("quantity" , options_for_select( (1..total_in_location).to_a , item.quantity), {},onchange: '$(this.form).submit(); this.disabled = true;',class: 'form-control')%>
    <% end %>
  </td>
  <td class="center aligned"> 
    <%= "#{total_in_location} (#{total_any_where_else})" %>  
  </td>

  <td class="center aligned">
    <% if item.variant.volume_prices.present? %>
      <% preciosx = item.variant.volume_prices.map{|vp| ["#{number_to_currency(vp.amount)} - #{vp.name} - #{vp.range}", vp.amount]}.to_h  %>
      <% minx = preciosx.min_by(&:last) %>
      <% noiva = (minx[1] - minx[1]*0.10).ceil %>
      <% preciosx["#{number_to_currency(noiva)} - VIP"] = noiva %>
      <%= form_with url: change_price_admin_pos_path(@order.number) do |form| %>
        <%= form.hidden_field :line_item_id, value: item.id %>
        <%= form.select("new_price" , options_for_select( preciosx, item.price), {},onchange: '$(this.form).submit(); this.disabled = true;',class: 'form-control', style: 'width: 75px;')%>
      <% end %>

    <% else %>
      <%= form_with url: change_price_admin_pos_path(@order.number) do |form| %>
        <%= form.hidden_field :line_item_id, value: item.id %>
        <%= form.select("new_price" , options_for_select([item.price, (item.price-item.price*0.10)] , item.price), {},onchange: '$(this.form).submit(); this.disabled = true;',class: 'form-control', style: 'width: 75px;')%>
      <% end %>
    <% end %>
  </td>

  <td class="center aligned price">
    <% if item.variant.price != item.price %>
      <span style="text-decoration: line-through;"><%= "#{number_to_currency(item.variant.price)} " %></span><span style="font-weight: bold;"><%= number_to_currency(item.price) %></span>
    <% else %>
      <span style="font-weight: bold;"><%= number_to_currency(item.price) %></span>
    <% end %>
  </td>
  <td class="center aligned"><%= "#{(((item.variant.price - item.price)/item.variant.price)*100).round(1).to_i}%" %></td>

  <td class="center aligned">
    <%= link_to remove_admin_pos_path(number: @order.number, item: item.variant.id), class: 'ui icon red basic button', remote: true do %>
      <i class='close red icon'></i>
    <% end %>
  </td>
  <td class="center aligned">
   <div class="ui form">
      <div class="field">
          <div class="ui fluid action input">
            <input type="number" min=0 max=100 placehold="Name">
            <div class="ui blue button">
              <i class="sync icon"></i>
            </div>
          </div>      
      </div>  
  </div>
  </td>
</tr>
